apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: grafana

resources:
  - namespace.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - secret.yaml
  - config-script-configmap.yaml
  - config-rbac.yaml
  - config-cronjob.yaml
