apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - secret.yaml
  - mysql-pvc.yaml
  - mysql-deployment.yaml
  - mysql-service.yaml
  - qlo-apps-pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
