apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nexus

resources:
  - namespace.yaml
  - storage.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
