apiVersion: v1
kind: Service
metadata:
  name: nexus
spec:
  type: ClusterIP
  selector:
    app: nexus
  ports:
    - name: http
      port: 8081
      targetPort: 8081
      protocol: TCP
    - name: docker-registry
      port: 5000
      targetPort: 5000
      protocol: TCP
